@page
@model ShoppingWebsite.Pages.Cart.IndexModel
@{
	ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
<hr />

@{
	foreach (string message in Model.SuccessMessages)
	{
		<div class="alert alert-success mb-2">
			<strong>@message</strong>
		</div>
	}
	foreach (string message in Model.ErrorMessages)
	{
		<div class="alert alert-danger mb-2">
			<strong>@message</strong>
		</div>
	}
}

@if(Model.Products != null && Model.Products.Count > 0)
{
	<div class="card">
		<div class="card-body">
			<table class="table table-bordered text-center">
				<thead>
					<tr>
						<th>@Html.DisplayNameFor(model => model.Products[0].ProductId)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].ProductImageURL)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].ProductName)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].ProductDescription)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].Category)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].Supplier)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].Price)</th>
						<th>@Html.DisplayNameFor(model => model.Products[0].Quantity)</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var product in Model.Products)
					{
						<tr>
							<td>@product.ProductId</td>
							<td>
								<img src="/@product.ProductImageURL" style="width: 50px; height: 50px" class="rounded"/>
							</td>
							<td>@product.ProductName</td>
							<td>@product.ProductDescription</td>
							<td>@product.Category.CategoryName</td>
							<td>@product.Supplier.CompanyName</td>
							<td>@product.Price$</td>
							<td>@product.Quantity</td>
							<td>
								@(product.Price * product.Quantity)$
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="d-flex justify-content-end p-2">
		<b>Sum: @Model.TotalCost$</b>
	</div>
	<div class="text-right mr-2">
		<a class="btn btn-success" asp-page="Index" asp-page-handler="Order">Order</a>
	</div>
} else {
	<p class="text-danger text-center font-weight-bold">No have any data.</p>
}
