@page
@model ShoppingWebsite.Pages.Suppliers.DeleteModel

@{
	ViewData["Title"] = "Delete Supplier";
}

<h2>Delete Supplier</h2>
<hr />

<a class="btn btn-success btn-sm mb-2" asp-page="Index">Back to List</a>

<h6>Are you sure want to delete?</h6>
<form method="post" class="d-flex">
	<input type="hidden" asp-for="Supplier.SupplierId" />
	<div class="card" style="min-width: 400px">
		<div class="card-body">
			<dl>
                <dt>@Html.DisplayNameFor(model => model.Supplier.SupplierId):</dt>
				<dd>@Model.Supplier.SupplierId</dd>
                <dt>@Html.DisplayNameFor(model => model.Supplier.CompanyName):</dt>
				<dd>@Model.Supplier.CompanyName</dd>
                <dt>@Html.DisplayNameFor(model => model.Supplier.Address):</dt>
				<dd>@Model.Supplier.Address</dd>
                <dt>@Html.DisplayNameFor(model => model.Supplier.Phone):</dt>
				<dd>@Model.Supplier.Phone</dd>
			</dl>
		</div>
		<div class="card-footer">
			<button class="btn btn-danger" type="submit">Delete</button>
		</div>
	</div>
</form>